.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Adjust this value as needed */
}
.about {
  color: #1b6c5c;
  padding: 20px;
  display: flex;

  text-wrap: normal;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: #c9dad5;
}
.about h1 {
  text-align: center;
  font-size: 24px;
}
.about p {
  font-size: 20px;
 
 

}
