.slideShow {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;

  }
  
  .slideshowSlider {
     /* Stack images on top of each other */
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 3s ease-in-out;
  }
  .slide.active {
    opacity: 1;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .text {
    position: absolute;
    color: #c9dad5;
    font-size: 2em;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* Optional: Add background for better text readability */
    padding: 10px;
    border-radius: 5px;
  }