.main h1 {
  text-align: center;
  color: #5da698;
  padding: 20px;
}

.parallax-container {
  height: 400px; /* Set the height of the container */
  overflow: hidden; /* Hide the overflow of the container */
  position: relative; /* Set the position to relative */
}

.parallax-image {
  background-image: url("../serviceImage//renovationAndAdaptation.jpg"); /* Set the background image */
  height: 100%; /* Set the height to 100% */
  background-attachment: fixed; /* Fix the background image */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Don't repeat the background image */
  background-size: cover; /* Cover the background image */
}
.main p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5da698;
  padding: 20px;
  text-wrap: wrap;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
}
h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5da698;
  padding: 20px;
  text-wrap: normal;
  flex-direction: column;
  text-align: center;
  font-size: 24px;
}

.wall-work {
  padding: 20px;
  margin-top: 20px;
  border-bottom: 2px solid rgba(159, 153, 153, 0.3);
  display: flex;
  
}
.text-content{
  flex:1;
}
.text-content h4,li,p {
  color: #5da698;
  margin:0;
  
}
.text-content h4{
  font-size: 20px;
  text-align: center;
}
.text-content li{
  font-size: 16px;
  text-align: center;
}
.text-content p{
  font-size: 18px;
}
.wall-work img {
  flex: 1;
  align-self: center;
  height: 350px;
  margin-left: 20px;
  
}
.wall-work__other{
  padding: 20px;
  margin-top: 20px;
  border-bottom: 2px solid rgba(159, 153, 153, 0.3);
  display: flex;
}
.wall-work__other img{
  flex: 1;
  align-self: center;
  height: 330px;
  width: 100px;
  margin-left: 20px;
}
.text-content__other{
  flex:1;
}
.text-content__other h4,li,p{
  margin:0;
  color:#5da698;
}
.text-content__other h4{
  font-size: 20px;
  text-align: center;
  
}
.text-content__other li{
  font-size: 16px;
  text-align: center;
}
.text-content__other p{
  font-size: 18px;
  text-wrap: wrap;
  
}


